.ant-btn {
    margin-right: 8px;
}

.ant-picker, .ant-input-number {
    width: 100%;
}

.ant-picker-input input {
    font-family: 'Kanit', sans-serif;
}

.ant-picker-header-view button {
    font-family: 'Kanit', sans-serif;
}