body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-picker {
  font-family: 'Sarabun', sans-serif;
  font-weight: 600;
}

.ant-picker-input input {
  cursor: pointer;
}

.ant-picker-header-view button {
  font-family: 'Sarabun', sans-serif;
  font-weight: 600;
}

.ant-picker-dropdown {
  font-family: 'Sarabun', sans-serif;
  font-weight: 600;
}
